/*=====================================
    Common Css styling
======================================*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Italianno&family=Unna&display=swap");

body {
  margin: 0;
  padding: 0;
  color: #666666;
  scroll-behavior: smooth;
  font-size: 15px;
  line-height: 1.5em;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  display: block;
}

ul li a {
  display: block;
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  background: #ff00ff;
  color: white;
  font-size: 16px;
  font-weight: 300;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

button:hover {
  background: #fcb56e;
  box-shadow: 0px 1px 1px 0px black;
  transition-duration: 0.3s;
}

form input[type="submit"] {
  background: #fcb56e;
  color: white;
  font-size: 15px;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
  padding: 7px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background: #ff00ff;
  box-shadow: 0px 1px 1px 0px black;
  transition-duration: 0.2s;
}

/*=====================================
    Socail link Css styling 
=====================================*/

.fast_link_aw {
  font-size: 25px;
  background: #333;
  color: wheat;
}

.fast_link_aw:hover {
  opacity: 0.5;
  background: transparent;
  color: wheat;
}

/*=====================================
    Header top Css styling 
=====================================*/
.header_area {
  width: 100%;
  clear: both;
  position: fixed;
  z-index: 10;
}

#top_header_area {
  background: #2e2e2e;
  width: 100%;
}

.inner_header {
  overflow: hidden;
}

.header_top_left {
  width: 50%;
  float: left;
}

.header_top_left ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.header_top_left ul li {
  display: inline-block;
  margin-right: 10px;
}

.header_top_left ul li a {
  display: block;
  text-decoration: none;
  color: grey;
  font-size: 14px;
  padding: 15px 0;
}

.header_top_left ul li a:hover {
  color: white;
  transition-duration: 0.5s;
}

.header_top_right {
  width: 46%;
  padding: 15px 0;
  float: right;
}

.header_top_right ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

.header_top_right ul li {
  display: inline-block;
  margin-left: 10px;
}

.header_top_right ul li a {
  display: block;
  text-decoration: none;
}

.header_top_right ul li a img {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.header_top_right ul li a img:hover {
  opacity: 0.5;
  transition-duration: 0.5s;
}

/*=====================================
    Header Main_menu Nav Css styling 
=====================================*/

#main_menu {
  width: 100%;
  clear: both;
}
#menu_icon {
  display: none;
  margin-top: 10px;
  cursor: pointer;
}
#menu_icon:hover {
  opacity: 0.7;
}
.inner_menu {
  padding-top: 30px;
  min-height: 30px;
  border-bottom: 5px solid #f0f0f0;
  font-family: "Unna", serif;
  background-color: #d35400;
}

.inner_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.inner_menu ul li {
  display: inline-block;
  margin-right: 15px;
  position: relative;
}

.inner_menu ul li:last-child {
  margin-right: 0px;
}

.inner_menu ul li a {
  color: #fff;
  text-decoration: none;
  padding: 7px 5px;
  font-size: 15px;
}

.inner_menu ul li a:hover {
  color: grey;
  box-shadow: 0px 5px 0px 0px #0a94f9;
  transition-duration: 0.5s;
}

.inner_menu ul li:hover a {
  color: grey;
}

.inner_menu ul li:hover ul li a {
  color: white;
  box-shadow: none;
}

/*===dropdown styling===*/

.inner_menu ul ul {
  position: absolute;
  background: #333;
  box-shadow: 0px 2px 3px 0px wheat;
  width: 150px;
  left: -99999px;
  top: 32px;
}

.inner_menu ul li:hover ul {
  left: 0;
}

.inner_menu ul li:hover ul ul {
  left: -99999px;
}

.inner_menu ul li ul li:hover ul {
  left: 150px;
}

.inner_menu ul ul li {
  margin: 0;
  display: block;
}

.inner_menu ul ul li a:hover {
  background: grey;
  transition-duration: 0.5s;
}

.inner_menu ul ul li a {
  color: white;
}

.inner_menu ul ul ul {
  left: 150px;
  top: 0px;
}

.inner_menu ul ul li:hover a {
  color: white;
  background: grey;
}

.inner_menu ul ul li:hover ul li a {
  color: white;
  background: none;
}

.inner_menu ul ul li ul li a:hover {
  color: white;
  background: grey;
}

/*=====================================
    Header Main_Header_area Css styling 
=====================================*/

#main_header_area {
  width: 100%;
  clear: both;
  position: relative;
  top: 90px;
  margin-bottom: 60px;
}

.inner_main_header {
  overflow: hidden;
  padding: 40px 0;
}

.logo_area {
  float: left;
  width: 205px;
  height: 55px;
}

.search_area {
  float: right;
}

.search_area form input[type="text"] {
  background: #f1f1f1;
  color: #666666;
  padding: 8px 5px;
  border: none;
  border-radius: 5px;
  width: 215px;
  outline: none;
  font-size: 14px;
}

/*=====================================
    Section slide_part Css styling 
=====================================*/
#slide_part {
  width: 100%;
  clear: both;
  background: #f1f1f1;
  border-top: 5px solid #e9e9e9;
  border-bottom: 10px solid #e9e9e9;
}

.inner_slide {
  overflow: hidden;
}

.slide_caption {
  width: 35%;
  float: left;
  padding: 100px 0;
}

.slide_caption h1 {
  font-family: "Acme", sans-serif;
  font-size: 40px;
  color: #333;
  line-height: 1em;
  font-weight: 700;
}

.slide_caption p {
  font-size: 25px;
  line-height: 1.3em;
  font-family: "Italianno", cursive;
}

.slide_caption button span {
  font-size: 10px;
}

.slide_img {
  float: right;
  margin-top: 60px;
  max-width: 100%;
  width: 60%;
  height: 400px;

  border-radius: 9px;
  padding: 5px;
}

/*=====================================
    Section baner_area Css styling 
=====================================*/

#baner_area {
  width: 100%;
  clear: both;
}

.inner_baner_area {
  overflow: hidden;
  padding: 40px 0px;
}

.baner_pic {
  float: left;
  width: 40%;
  padding-bottom: 40px;
}

.baner_pic img {
  margin-top: 100px;
  width: 100%;
  height: auto;
  box-shadow: 0 2px 2px 0 #333;
}

.baner_caption {
  text-align: center;
  float: right;
  width: 55%;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-bottom: 30px;
}

.mini_cap {
  width: 98%;
  margin-right: 5px;
  box-shadow: 0 2px 4px 0 #333;
  transition-duration: 0.3s;
}
.mini_cap:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.mini_cap img {
  width: auto;
  height: 85px;
}

.mini_cap a h2 {
  font-weight: normal;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

.mini_cap a h2:hover {
  color: #d64c32;
  transition-duration: 0.5s;
}

.mini_cap p {
  line-height: 1.1em;
  text-align: center;
  font-family: "Italianno", cursive;
  font-size: 25px;
}

.contact_us_area {
  overflow: hidden;
  width: 91%;
  background: #e0e0e0;
  padding: 30px 40px 10px 40px;
  border-left: 10px solid #009aff;
  text-align: left;
}

.contact_us_area h2 {
  color: #333;
  font-family: "Acme", sans-serif;
  font-size: 40px;
  margin: 0;
  font-weight: 500;
}

.contact_us_area p {
  font-size: 25px;
  text-align: left;
  font-family: "Italianno", cursive;
}

.contact_us_area button {
  float: right;
  margin: -77px 0px 0px 0px;
  padding: 10px;
  font-size: 25px;
  font-family: serif;
}

/*=====================================
    fotter_part Css styling 
=====================================*/

#footer_menu {
  background: #1a1a1a;
  width: 100%;
  clear: both;
}

.inner_footer {
  overflow: hidden;
}

.footer_details {
  width: 23%;
  float: left;
  margin: 1%;
}

.footer_details h3 {
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
}

.footer_details p {
  line-height: 1.1em;
  text-align: center;
  font-family: "Italianno", cursive;
  font-size: 20px;
}

.footer_details img {
  border: 1px solid #535353;
  border-radius: 2px;
}
/*=========footer a link styling===========*/
.footer_details a {
  color: #0a94f9;
}

.underline_a {
  color: #0a94f9;
  float: right;
}

.underline_a:hover {
  color: #d64c32;
  transition-duration: 0.5s;
  text-decoration: underline 1px solid;
}

.footer_details a span {
  font-size: 10px;
}

.quick_links ul ul {
  display: none;
}

.quick_links li {
  display: block;
  border-bottom: 0.5px solid #353232;
  padding: 2.5px 0;
  background: url(../img/arrow_key.png) no-repeat;
  background-position: left;
  padding-left: 15px;
}

.quick_links ul li a:hover {
  color: #d64c32;
  transition-duration: 0.5s;
}
/*=========footer a link end styling===========*/
.post_title h4 {
  margin: 0;
  padding: 0;
  font-size: 17px;
}

.post_title h5 {
  margin: 0;
  padding: 0;
  width: 108px;
  line-height: 1.3em;
}

.post_title p {
  line-height: 1.1em;
  text-align: center;
  font-family: "Italianno", cursive;
  font-size: 20px;
}

.footer_details input[type="text"],
input[type="email"] {
  width: 96%;
  margin: 5px 0;
  color: #faf2f2;
  background: #232323;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

.footer_details textarea {
  width: 96%;
  height: 110px;
  margin: 5px 0;
  color: #faf2f2;
  background: #232323;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

.footer_details input[type="submit"] {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  text-transform: uppercase;
}

/*=====================================
    fotter Copy_right_area Css styling 
=====================================*/

#copy_right_area {
  width: 100%;
  clear: both;
  background: #222222;
}

.inner_copy_right {
  overflow: hidden;
}

.left_copy_right h6 {
  text-align: left;
  padding: 0;
}

.left_copy_right h6 span {
  font-size: 20px;
}

.right_copy_right h6 {
  text-align: right;
  margin-top: -45px;
  padding: 0;
}

/*=====================================
   Ending fotter Copy_right_area Css styling 
=====================================*/

.click_style {
  color: grey;
  box-shadow: 0px 5px 0px 0px #0a94f9;
}
